form.petition {
    font-size: medium
}

form.petition input,
select,
button {
    font-size: large;
    padding: 5px;
}

#zip {}

#state {
    font-size: large;
}

#city {}

#comments {
    height: auto;
    width: 35em;
}

.submit-error {
    font-weight: bold;
    border: 1px solid red;
    color: red;
    padding: 30px;
}

.comment-preview {
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
}

#post-submit span {
    font-weight: bold;
}

div.counter-box {
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 20px;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    text-align: center;
    width: fit-content;
}

div.counter-box .counter {
    font-size: 50px;
    color: rgb(146, 196, 213);
}

div.counter-box .message {
    font-size: 14px;
    max-width: 120px;
}

div.supporter-carousel {
    padding: 20px;
    border: 1px solid gray;
    width: fit-content;
}

div.supporter-carousel .supporter-name {
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}

div.supporter-carousel .supporter-title {
    font-style: italic;
    text-align: center;
}

div.supporter-carousel .supporter-photo {
    width: 400px;
    max-width: 100%;
    border: 1px solid gray;
}

div.supporter-carousel .supporter-comments {
    width: 400px;
    max-width: 100%;
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
}