form.petition {
    font-size: medium
}

form.petition input,
select,
button {
    font-size: large;
    padding: 5px;
}

#zip {}

#state {
    font-size: large;
}

#city {}

#comments {
    height: auto;
    width: 35em;
}

.submit-error {
    font-weight: bold;
    border: 1px solid red;
    color: red;
    padding: 30px;
}

.comment-preview {
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
}

#post-submit span {
    font-weight: bold;
}

div.counter-box {
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 20px;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    text-align: center;
    width: fit-content;
}

div.counter-box .counter {
    font-size: 50px;
    color: rgb(146, 196, 213);
}

div.counter-box .message {
    font-size: 14px;
    max-width: 120px;
}

div.supporter-carousel {
    padding: 20px;
    border: 1px solid gray;
    text-align: center;
}

div.supporter-carousel .nav-controls span {
    font-size: x-large;
    margin: 5px;
    cursor: pointer;
}

div.supporter-carousel .supporter-name {
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
}

div.supporter-carousel .supporter-title {
    font-style: italic;
}

div.supporter-carousel .supporter-photo {
    max-height: 400px;
    max-width: 100%;
    border: 1px solid gray;
}

div.supporter-carousel .supporter-comments {
    width: fit-content;
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
}

/* map styles */

div.supporter-map {
    height: 500px;
    width: 100%;
}

div.lp-map-legend {
    margin-left: 10px;
    width: 45px;
    height: 100px;
    padding: 7px;
    background: white;
    border: 1px solid lightgray;
    cursor: pointer;
}

span.lp-gradient {
    height: 100%;
    width: 60%;
    opacity: 50%;
    display: inline-block;
}

span.lp-gradient-labels {
    height: 100%;
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 70%;
}

div.lp-max-value {
    position: relative;
    top: -3px;
}

div.lp-min-value {
    position: absolute;
    bottom: 16px;
}

div.campaign-map {
    height: 800px;
    width: 100%;
}

/* admin styles */

table.lp-table, th.lp-table-header, td.lp-table-data {
    border: 1px solid gray;
    padding: 4px;
}

table.lp-table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: 20px;
}

tr.lp-table-header-row {
    background-color: #1a5551;
    color: white;
}

tr.lp-even-row {
    background-color: #b8e1de;
}

tr.lp-odd-row {
    background-color: #9bd6d2;
}
