form.petition {
    font-size: medium
}

form.petition input, select, button {
    font-size: large;
    padding: 5px;
}

#zip {
    width: 55px;
}

#state {
    width: 120px;
}

#city {
    width: 100px;
}

#comments {
    height: auto;
    width: 35em;
}

.submit-error {
    font-weight: bold;
    border: 1px solid red;
    color: red;
    padding: 30px;
}

.comment-preview {
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
}

#post-submit span {
    font-weight: bold;
}